.categories-container {
    background-color: blue;
    padding: 10px;

    .category-container {
        background-color: red;
        padding: 20px;
        
        .category-container-body {
            background-color: cyan;
            padding: 20px;
        }
    }

}